<!DOCTYPE html>
<html>

    <head>
        <title>TinyApp - Shorten your URLS!!!</title>
        <h1>Welcome to TinyApp.</h1>
        <% if(ourUser) { %>       
            <% if(ourUser.id) { %>
                <p>Logged in as: <%= ourUser.email %>
                    <form action="/logout?_method=PUT" method="post">
                        <button>Logout</button>                    
                    </form>
                </p>
            <% } 
            
            } else { %> 
                <a href='/register'>Register here! </a> <br>
                <a href='/login'>Existing user login here! </a>
            <% } %> 
    </head> 
</html>
