<!DOCTYPE html>
<html>

    <head>
        <title>TinyApp - Shorten your URLS!!!</title>
        <h1>Welcome to TinyApp.</h1>
        <form action="/login" method="post">
            <label for="username">Username: </label>
            <input id="username" type="text" value="" name="username"> 

            <button>Submit</button>                    
        </form>
    </head> 
</html>
