<!DOCTYPE html>
<html>

<head>
    <title>TinyApp - Your URLs</title>
    <% include ./partials/_header %>
</head>

<header>
    <h1><%= greeting %></h1>
</header>

<body>
    <%= `www.${shortURL}.com ===> ${fullURL[shortURL]}` %>
</body>

</html>