<!DOCTYPE html>
<html>

<head>
    <title>TinyApp - Your URLs</title>
    <% include ./partials/_header %>
</head>

<header>
    <h1><b><%= `${greeting} ${shortURL}` %></b></h1>
</header>

<body>
    <p>
        <form action="/urls/<%= shortURL %>/update?_method=PUT" method="post">
            <input id="newURL" type="text" value="<%= urls[shortURL].link %>" name="longURL"> 
            <p>visits to this link: <%= urls[shortURL].visits %></p>
            <button>Update URL!</button>                    
        </form>
    </p>

    <h3><a href='/urls/new'> SHORTEN A NEW LINK!</a></h3>
</body>

</html>