<!DOCTYPE html>
<html>

<body>
    <h1><b>Welcome! Please sign up with a Username and your email.</b></h1>
    <form action="/register" method="POST" style="margin:150px;">
        <label for="email">email:</label> <br>
        <input id="email" type="email" name="username" style="width: 300px">
        <br><br>
        <label for="password">Password:</label> <br>
        <input id="password" type="password" name="password" style="width: 300px">
        <input type="submit" value="Submit">
      </form>
</body>

</html>